/* Color theme
#00FFAB light green
#14C38E dark green
#B8F1B0 mid green
#E3FCBF Cream 
#9EB13B background*/

.content{
    display: none;
}

.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #9EB13B;
    position: absolute;
}
.loader>div{
    height: 50px;
    width: 50px;
    border: 8px solid #B8F1B0;
    border-top-color: #69ed58;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1{
    margin: 0;
}

hr{
    width: 60%;
    border-width: 2px;
    margin: auto;
}

#intro{
    background-color: #9EB13B;
    color: white;
    padding: 30px 0;
    background-image: url("https://i.postimg.cc/jjVt9jY3/background.jpg");
    /* background-image: url("assets/background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#product{background-color: #e3fcbfbf;}

#event{
    background-image: url("https://i.postimg.cc/1zpsZZ9m/pexels-pixabay-158827.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#seal{background-color: #E3FCBF;}

#contact{background-color: #B8F1B0;}

#dev-detail{ background-color: #E3FCBF;}

.mine-brand-heading{
    color: whitesmoke;
    padding-left: 100px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.567);
    font-size: 4rem;
    line-height: 1.5;
    font-family: "ubuntu", sans-serif;
}

.mine-logo-img{
    height: 400px;
}

.mine-image-div{
    padding-left: 300px;
    padding-bottom: 200px;
}

.navbar {
    padding: 0;
}

.mine-brand-heading:hover{
    color: #69ed58;
}

.mine-navbar-options{
    text-align: center;
    line-height: 2rem;
}

.mine-navbar-anchor{
    color: #69ed58;
    text-decoration: none;
}

.mine-navbar-anchor:hover{
    color: #B8F1B0;
}

.nav-item{
    padding: 0 20px;
}

.mine-heading-item{
    padding: 50px 0;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    color: #69ed58;
}

.mine-dotted-hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 20%;
    padding: 40px;
}

.mine-seal-img{
    height: 100px;
}

.mine-seal-div{
    padding: 40px 100px;
}

.mine-seal-mar{
    margin: 0;
}

.mine-bot-img{
    height: 400px;
}

.mine-product-div{
    margin: 0;
}

.mine-pro-text{
    margin: auto;
}

.mine-pro-p{
    margin-top: 50px;
}

.mine-bro-link{
    margin: 20px;
}

.mine-link-div{
    padding: 40px 0;
}

.slide{
    padding: 50px;
    padding-top: 0;
}

.mine-event-img{
    min-height: 100px;
    max-height: 550px;
    border-radius: 3%;
}

.mine-car-div{
    padding: 50px 300px;
}

.mine-details{
    padding-top: 30px;
}

.mine-detail-p{
    margin: 0;
}

@media(max-width: 1300px){
    .mine-image-div{
        padding-left: 300px;
        padding-bottom: 120px;
    }
    .mine-logo-img{
        height: 300px;
    }
    .mine-brand-heading{
        padding-left: 100px;
    }
    .mine-car-div{
        padding: 50px 150px;
    }
}

@media(max-width: 900px){
    .mine-logo-img{
        height: 200px;
    }
    .mine-bot-img{
        height: 300;
    }
    .mine-brand-heading{
        padding: 0;
    }
    .mine-seal-div{
        padding: 0
    }
    .mine-car-div{
        padding: 50px 80px;
    }
}

@media(max-width: 600px){
    #intro{
        padding: 30px 20px;
        background-image: url("https://i.postimg.cc/L8gmN1wZ/background-mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .mine-image-div{
        padding: 0;
    }
    .mine-brand-heading{
        font-size: 2rem;
    }
    .mine-car-div{
        padding: 50px 50px;
    }
}

@media(max-width: 500){
    .mine-car-div{
        padding: 50px 0;
    }
}
